:root {
  /* CSS HEX */
  --jet: #2a2b2aff;
  --dim-gray: #706c61ff;
  --cosmic-latte: #f8f4e3ff;
  --cerise: #e5446dff;
  --coral: #ff8966ff;
  --atomic-tangerine: #ff9474ff;
  --space-cadet: #1b1b3aff;
  --finn: #693668ff;
  --magenta-haze: #a74482ff;
  --brilliant-rose: #f84aa7ff;
  --folly: #ff3562ff --cool-gray: #8e9aafff;
  --thistle: #cbc0d3ff;
  --misty-rose: #efd3d7ff;
  --pale-purple: #feeafaff;
  --lavender-web: #dee2ffff;
  --cherry-blossom-pink: #e8aeb7ff;
  --uranian-blue: #b8e1ffff;
  --ice-blue: #a9fff7ff;
  --light-green: #94fbabff;
  --cambridge-blue: #82aba1ff;
  --xanthous: #ffc15eff;
--earth-yellow: #f7b05bff;
--sandy-brown: #f7934cff;
--tawny: #cc5803ff;
--licorice: #1f1300ff;
--blue-munsell: #1b9aaaff;
--bone: #dddbcbff;
--old-lace: #f5f1e3ff;
}

/* background.css */
container {
  /* background-image: url('./images/background1.png'); */
  opacity: 0.75; /* Adjust the opacity value as desired (0.0 to 1.0) */
  /* Add other background styles as needed */
}



/* main {
  height: 100vh;
  background-color:#b8e1ffff;
} */

/* container {
  background-color: #ff9474ff;
  padding: 20px;
} */

/* title {
  font-size: 24px;
  color: #e5446dff;
  background-color: #1b1b3aff;
} */

h1 {
  font-size: 45px;
  color: #82aba1ff;
}
/* 
div {
  background-color: #e8aeb7ff;
} */

.contact-container {
  background-color: #f84aa7ff;
} 
footer {
  color: #693668ff;
  font-size: medium;
}

/* h1 {
  width: 100px;
  /* border: 2px solid; */
  /* padding: 25px;
  margin: 20px;
 } */ 
/* .title{
  width: 300;
  border:15px #a9fff7ff;
  padding: 50px;
  margin: 20px;
} */

.center-page-title{
  text-align: center;
  font-size: 75px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #cc5803ff;
}